<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dobble POC</title>
    <partial name="_IncludeCss" />
    <link rel="preload" href="~/Pictures/CardPictures/0.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/1.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/2.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/3.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/4.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/5.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/6.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/7.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/8.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/9.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/10.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/11.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/12.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/13.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/14.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/15.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/16.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/17.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/18.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/19.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/20.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/21.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/22.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/23.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/24.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/25.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/26.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/27.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/28.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/29.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/30.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/31.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/32.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/33.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/34.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/35.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/36.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/37.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/38.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/39.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/40.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/41.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/42.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/43.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/44.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/45.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/46.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/47.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/48.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/49.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/50.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/51.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/52.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/53.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/54.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/55.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/56.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="~/Pictures/CardPictures/57.svg" as="image" type="image/svg+xml" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Game" asp-action="Index">DobblePOC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <partial name="_IncludeJsGame" />
    @RenderSection("Scripts", required: false)
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DobblePOC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
