@{
    Layout = "_LayoutGame.cshtml";
    ViewData["Title"] = "Jouer";
}
<div>
    <button id="startGame" class="btn-outline-primary">Commencer la partie !</button>
</div>
<br />
<div>
    <button id="centerCard0" class="btn-outline-info" value="0" style="display:none"></button>
    <button id="centerCard1" class="btn-outline-info" value="1" style="display:none"></button>
    <button id="centerCard2" class="btn-outline-info" value="2" style="display:none"></button>
    <button id="centerCard3" class="btn-outline-info" value="3" style="display:none"></button>
    <button id="centerCard4" class="btn-outline-info" value="4" style="display:none"></button>
    <button id="centerCard5" class="btn-outline-info" value="5" style="display:none"></button>
    <button id="centerCard6" class="btn-outline-info" value="6" style="display:none"></button>
    <button id="centerCard7" class="btn-outline-info" value="7" style="display:none"></button>
</div>
<br />
<div>
    <button id="card0" class="btn-outline-info valueToTouch" value="0" style="display:none"></button>
    <button id="card1" class="btn-outline-info valueToTouch" value="1" style="display:none"></button>
    <button id="card2" class="btn-outline-info valueToTouch" value="2" style="display:none"></button>
    <button id="card3" class="btn-outline-info valueToTouch" value="3" style="display:none"></button>
    <button id="card4" class="btn-outline-info valueToTouch" value="4" style="display:none"></button>
    <button id="card5" class="btn-outline-info valueToTouch" value="5" style="display:none"></button>
    <button id="card6" class="btn-outline-info valueToTouch" value="6" style="display:none"></button>
    <button id="card7" class="btn-outline-info valueToTouch" value="7" style="display:none"></button>
</div>
<div id="cardsNumber"></div>
