.img-picture {
    flex-shrink: 1;
    height: 66px;
    width: 66px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-color: white;
}

.cursor-default {
    cursor: default !important;
}

.img-0 {
    background-image: url('/Pictures/CardPictures/0.svg');
}

.img-1 {
    background-image: url('/Pictures/CardPictures/1.svg');
}

.img-2 {
    background-image: url('/Pictures/CardPictures/2.svg');
}

.img-3 {
    background-image: url('/Pictures/CardPictures/3.svg');
}

.img-4 {
    background-image: url('/Pictures/CardPictures/4.svg');
}

.img-5 {
    background-image: url('/Pictures/CardPictures/5.svg');
}

.img-6 {
    background-image: url('/Pictures/CardPictures/6.svg');
}

.img-7 {
    background-image: url('/Pictures/CardPictures/7.svg');
}

.img-8 {
    background-image: url('/Pictures/CardPictures/8.svg');
}

.img-9 {
    background-image: url('/Pictures/CardPictures/9.svg');
}


.img-10 {
    background-image: url('/Pictures/CardPictures/10.svg');
}

.img-11 {
    background-image: url('/Pictures/CardPictures/11.svg');
}

.img-12 {
    background-image: url('/Pictures/CardPictures/12.svg');
}

.img-13 {
    background-image: url('/Pictures/CardPictures/13.svg');
}

.img-14 {
    background-image: url('/Pictures/CardPictures/14.svg');
}

.img-15 {
    background-image: url('/Pictures/CardPictures/15.svg');
}

.img-16 {
    background-image: url('/Pictures/CardPictures/16.svg');
}

.img-17 {
    background-image: url('/Pictures/CardPictures/17.svg');
}

.img-18 {
    background-image: url('/Pictures/CardPictures/18.svg');
}

.img-19 {
    background-image: url('/Pictures/CardPictures/19.svg');
}

.img-20 {
    background-image: url('/Pictures/CardPictures/20.svg');
}

.img-21 {
    background-image: url('/Pictures/CardPictures/21.svg');
}

.img-22 {
    background-image: url('/Pictures/CardPictures/22.svg');
}

.img-23 {
    background-image: url('/Pictures/CardPictures/23.svg');
}

.img-24 {
    background-image: url('/Pictures/CardPictures/24.svg');
}

.img-25 {
    background-image: url('/Pictures/CardPictures/25.svg');
}

.img-26 {
    background-image: url('/Pictures/CardPictures/26.svg');
}

.img-27 {
    background-image: url('/Pictures/CardPictures/27.svg');
}

.img-28 {
    background-image: url('/Pictures/CardPictures/28.svg');
}

.img-29 {
    background-image: url('/Pictures/CardPictures/29.svg');
}

.img-30 {
    background-image: url('/Pictures/CardPictures/30.svg');
}

.img-31 {
    background-image: url('/Pictures/CardPictures/31.svg');
}

.img-32 {
    background-image: url('/Pictures/CardPictures/32.svg');
}

.img-33 {
    background-image: url('/Pictures/CardPictures/33.svg');
}

.img-34 {
    background-image: url('/Pictures/CardPictures/34.svg');
}

.img-35 {
    background-image: url('/Pictures/CardPictures/35.svg');
}

.img-36 {
    background-image: url('/Pictures/CardPictures/36.svg');
}

.img-37 {
    background-image: url('/Pictures/CardPictures/37.svg');
}

.img-38 {
    background-image: url('/Pictures/CardPictures/38.svg');
}

.img-39 {
    background-image: url('/Pictures/CardPictures/39.svg');
}

.img-40 {
    background-image: url('/Pictures/CardPictures/40.svg');
}

.img-41 {
    background-image: url('/Pictures/CardPictures/41.svg');
}

.img-42 {
    background-image: url('/Pictures/CardPictures/42.svg');
}

.img-43 {
    background-image: url('/Pictures/CardPictures/43.svg');
}

.img-44 {
    background-image: url('/Pictures/CardPictures/44.svg');
}

.img-45 {
    background-image: url('/Pictures/CardPictures/45.svg');
}

.img-46 {
    background-image: url('/Pictures/CardPictures/46.svg');
}

.img-47 {
    background-image: url('/Pictures/CardPictures/47.svg');
}

.img-48 {
    background-image: url('/Pictures/CardPictures/48.svg');
}

.img-49 {
    background-image: url('/Pictures/CardPictures/49.svg');
}

.img-50 {
    background-image: url('/Pictures/CardPictures/50.svg');
}

.img-51 {
    background-image: url('/Pictures/CardPictures/51.svg');
}

.img-52 {
    background-image: url('/Pictures/CardPictures/52.svg');
}

.img-53 {
    background-image: url('/Pictures/CardPictures/53.svg');
}

.img-54 {
    background-image: url('/Pictures/CardPictures/54.svg');
}

.img-55 {
    background-image: url('/Pictures/CardPictures/55.svg');
}

.img-56 {
    background-image: url('/Pictures/CardPictures/56.svg');
}

.img-57 {
    background-image: url('/Pictures/CardPictures/57.svg');
}

.img-58 {
    background-image: url('/Pictures/CardPictures/58.svg');
}

.img-59 {
    background-image: url('/Pictures/CardPictures/59.svg');
}

.img-60 {
    background-image: url('/Pictures/CardPictures/60.svg');
}

.img-61 {
    background-image: url('/Pictures/CardPictures/61.svg');
}

.img-62 {
    background-image: url('/Pictures/CardPictures/62.svg');
}

.img-63 {
    background-image: url('/Pictures/CardPictures/63.svg');
}

.img-64 {
    background-image: url('/Pictures/CardPictures/64.svg');
}

.img-65 {
    background-image: url('/Pictures/CardPictures/65.svg');
}

.img-66 {
    background-image: url('/Pictures/CardPictures/66.svg');
}

.img-67 {
    background-image: url('/Pictures/CardPictures/67.svg');
}

.img-68 {
    background-image: url('/Pictures/CardPictures/68.svg');
}

.img-69 {
    background-image: url('/Pictures/CardPictures/69.svg');
}

.img-70 {
    background-image: url('/Pictures/CardPictures/70.svg');
}

.img-71 {
    background-image: url('/Pictures/CardPictures/71.svg');
}

.img-72 {
    background-image: url('/Pictures/CardPictures/72.svg');
}

.img-73 {
    background-image: url('/Pictures/CardPictures/73.svg');
}

.img-74 {
    background-image: url('/Pictures/CardPictures/74.svg');
}

.img-75 {
    background-image: url('/Pictures/CardPictures/75.svg');
}

.img-76 {
    background-image: url('/Pictures/CardPictures/76.svg');
}

.img-77 {
    background-image: url('/Pictures/CardPictures/77.svg');
}

.img-78 {
    background-image: url('/Pictures/CardPictures/78.svg');
}

.img-79 {
    background-image: url('/Pictures/CardPictures/79.svg');
}

.img-80 {
    background-image: url('/Pictures/CardPictures/80.svg');
}

.img-81 {
    background-image: url('/Pictures/CardPictures/81.svg');
}

.img-82 {
    background-image: url('/Pictures/CardPictures/82.svg');
}

.img-83 {
    background-image: url('/Pictures/CardPictures/83.svg');
}

.img-84 {
    background-image: url('/Pictures/CardPictures/84.svg');
}

.img-85 {
    background-image: url('/Pictures/CardPictures/85.svg');
}

.img-86 {
    background-image: url('/Pictures/CardPictures/86.svg');
}

.img-87 {
    background-image: url('/Pictures/CardPictures/87.svg');
}

.img-88 {
    background-image: url('/Pictures/CardPictures/88.svg');
}

.img-89 {
    background-image: url('/Pictures/CardPictures/89.svg');
}

.img-90 {
    background-image: url('/Pictures/CardPictures/90.svg');
}

.img-91 {
    background-image: url('/Pictures/CardPictures/91.svg');
}

.img-92 {
    background-image: url('/Pictures/CardPictures/92.svg');
}

.img-93 {
    background-image: url('/Pictures/CardPictures/93.svg');
}

.img-94 {
    background-image: url('/Pictures/CardPictures/94.svg');
}

.img-95 {
    background-image: url('/Pictures/CardPictures/95.svg');
}

.img-96 {
    background-image: url('/Pictures/CardPictures/96.svg');
}

.img-97 {
    background-image: url('/Pictures/CardPictures/97.svg');
}

.img-98 {
    background-image: url('/Pictures/CardPictures/98.svg');
}

.img-99 {
    background-image: url('/Pictures/CardPictures/99.svg');
}

.img-100 {
    background-image: url('/Pictures/CardPictures/100.svg');
}

.img-101 {
    background-image: url('/Pictures/CardPictures/101.svg');
}

.img-102 {
    background-image: url('/Pictures/CardPictures/102.svg');
}

.img-103 {
    background-image: url('/Pictures/CardPictures/103.svg');
}

.img-104 {
    background-image: url('/Pictures/CardPictures/104.svg');
}

.img-105 {
    background-image: url('/Pictures/CardPictures/105.svg');
}

.img-106 {
    background-image: url('/Pictures/CardPictures/106.svg');
}

.img-107 {
    background-image: url('/Pictures/CardPictures/107.svg');
}

.img-108 {
    background-image: url('/Pictures/CardPictures/108.svg');
}

.img-109 {
    background-image: url('/Pictures/CardPictures/109.svg');
}

.img-110 {
    background-image: url('/Pictures/CardPictures/110.svg');
}

.img-111 {
    background-image: url('/Pictures/CardPictures/111.svg');
}

.img-112 {
    background-image: url('/Pictures/CardPictures/112.svg');
}

.img-113 {
    background-image: url('/Pictures/CardPictures/113.svg');
}

.img-114 {
    background-image: url('/Pictures/CardPictures/114.svg');
}

.img-115 {
    background-image: url('/Pictures/CardPictures/115.svg');
}

.img-116 {
    background-image: url('/Pictures/CardPictures/116.svg');
}

.img-117 {
    background-image: url('/Pictures/CardPictures/117.svg');
}

.img-118 {
    background-image: url('/Pictures/CardPictures/118.svg');
}

.img-119 {
    background-image: url('/Pictures/CardPictures/119.svg');
}

.img-120 {
    background-image: url('/Pictures/CardPictures/120.svg');
}

.img-121 {
    background-image: url('/Pictures/CardPictures/121.svg');
}

.img-122 {
    background-image: url('/Pictures/CardPictures/122.svg');
}

.img-123 {
    background-image: url('/Pictures/CardPictures/123.svg');
}

.img-124 {
    background-image: url('/Pictures/CardPictures/124.svg');
}

.img-125 {
    background-image: url('/Pictures/CardPictures/125.svg');
}

.img-126 {
    background-image: url('/Pictures/CardPictures/126.svg');
}

.img-127 {
    background-image: url('/Pictures/CardPictures/127.svg');
}

.img-128 {
    background-image: url('/Pictures/CardPictures/128.svg');
}

.img-129 {
    background-image: url('/Pictures/CardPictures/129.svg');
}

.img-130 {
    background-image: url('/Pictures/CardPictures/130.svg');
}

.img-131 {
    background-image: url('/Pictures/CardPictures/131.svg');
}

.img-132 {
    background-image: url('/Pictures/CardPictures/132.svg');
}

.img-133 {
    background-image: url('/Pictures/CardPictures/133.svg');
}

.img-134 {
    background-image: url('/Pictures/CardPictures/134.svg');
}

.img-135 {
    background-image: url('/Pictures/CardPictures/135.svg');
}

.img-136 {
    background-image: url('/Pictures/CardPictures/136.svg');
}

.img-137 {
    background-image: url('/Pictures/CardPictures/137.svg');
}

.img-138 {
    background-image: url('/Pictures/CardPictures/138.svg');
}

.img-139 {
    background-image: url('/Pictures/CardPictures/139.svg');
}

.img-140 {
    background-image: url('/Pictures/CardPictures/140.svg');
}

.img-141 {
    background-image: url('/Pictures/CardPictures/141.svg');
}

.img-142 {
    background-image: url('/Pictures/CardPictures/142.svg');
}

.img-143 {
    background-image: url('/Pictures/CardPictures/143.svg');
}

.img-144 {
    background-image: url('/Pictures/CardPictures/144.svg');
}

.img-145 {
    background-image: url('/Pictures/CardPictures/145.svg');
}

.img-146 {
    background-image: url('/Pictures/CardPictures/146.svg');
}

.img-147 {
    background-image: url('/Pictures/CardPictures/147.svg');
}

.img-148 {
    background-image: url('/Pictures/CardPictures/148.svg');
}

.img-149 {
    background-image: url('/Pictures/CardPictures/149.svg');
}

.img-150 {
    background-image: url('/Pictures/CardPictures/150.svg');
}

.img-151 {
    background-image: url('/Pictures/CardPictures/151.svg');
}

.img-152 {
    background-image: url('/Pictures/CardPictures/152.svg');
}

.img-153 {
    background-image: url('/Pictures/CardPictures/153.svg');
}

.img-154 {
    background-image: url('/Pictures/CardPictures/154.svg');
}

.img-155 {
    background-image: url('/Pictures/CardPictures/155.svg');
}

.img-156 {
    background-image: url('/Pictures/CardPictures/156.svg');
}

.img-157 {
    background-image: url('/Pictures/CardPictures/157.svg');
}

.img-158 {
    background-image: url('/Pictures/CardPictures/158.svg');
}

.img-159 {
    background-image: url('/Pictures/CardPictures/159.svg');
}

.img-160 {
    background-image: url('/Pictures/CardPictures/160.svg');
}

.img-161 {
    background-image: url('/Pictures/CardPictures/161.svg');
}

.img-162 {
    background-image: url('/Pictures/CardPictures/162.svg');
}

.img-163 {
    background-image: url('/Pictures/CardPictures/163.svg');
}

.img-164 {
    background-image: url('/Pictures/CardPictures/164.svg');
}

.img-165 {
    background-image: url('/Pictures/CardPictures/165.svg');
}

.img-166 {
    background-image: url('/Pictures/CardPictures/166.svg');
}

.img-167 {
    background-image: url('/Pictures/CardPictures/167.svg');
}

.img-168 {
    background-image: url('/Pictures/CardPictures/168.svg');
}

.img-169 {
    background-image: url('/Pictures/CardPictures/169.svg');
}

.img-170 {
    background-image: url('/Pictures/CardPictures/170.svg');
}

.img-171 {
    background-image: url('/Pictures/CardPictures/171.svg');
}

.img-172 {
    background-image: url('/Pictures/CardPictures/172.svg');
}

.img-173 {
    background-image: url('/Pictures/CardPictures/173.svg');
}

.img-174 {
    background-image: url('/Pictures/CardPictures/174.svg');
}

.img-175 {
    background-image: url('/Pictures/CardPictures/175.svg');
}

.img-176 {
    background-image: url('/Pictures/CardPictures/176.svg');
}

.img-177 {
    background-image: url('/Pictures/CardPictures/177.svg');
}

.img-178 {
    background-image: url('/Pictures/CardPictures/178.svg');
}

.img-179 {
    background-image: url('/Pictures/CardPictures/179.svg');
}

.img-180 {
    background-image: url('/Pictures/CardPictures/180.svg');
}

.img-181 {
    background-image: url('/Pictures/CardPictures/181.svg');
}

.img-182 {
    background-image: url('/Pictures/CardPictures/182.svg');
}

.img-183 {
    background-image: url('/Pictures/CardPictures/183.svg');
}

.img-184 {
    background-image: url('/Pictures/CardPictures/184.svg');
}

.img-185 {
    background-image: url('/Pictures/CardPictures/185.svg');
}

.img-186 {
    background-image: url('/Pictures/CardPictures/186.svg');
}

.img-187 {
    background-image: url('/Pictures/CardPictures/187.svg');
}

.img-188 {
    background-image: url('/Pictures/CardPictures/188.svg');
}

.img-189 {
    background-image: url('/Pictures/CardPictures/189.svg');
}

.img-190 {
    background-image: url('/Pictures/CardPictures/190.svg');
}

.img-191 {
    background-image: url('/Pictures/CardPictures/191.svg');
}

.img-192 {
    background-image: url('/Pictures/CardPictures/192.svg');
}

.img-193 {
    background-image: url('/Pictures/CardPictures/193.svg');
}

.img-194 {
    background-image: url('/Pictures/CardPictures/194.svg');
}

.img-195 {
    background-image: url('/Pictures/CardPictures/195.svg');
}

.img-196 {
    background-image: url('/Pictures/CardPictures/196.svg');
}

.img-197 {
    background-image: url('/Pictures/CardPictures/197.svg');
}

.img-198 {
    background-image: url('/Pictures/CardPictures/198.svg');
}

.img-199 {
    background-image: url('/Pictures/CardPictures/199.svg');
}
