.img-picture {
    flex-shrink: 1;
    height: 60px;
    width: 60px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    display: inline-block;
}

.cursor-click {
    cursor: pointer;
}
