
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="NewGame">
    <h3>Créer une partie</h3>
    <div class="form-group">
        <label class="control-label">Votre pseudo</label>
        <input name="pseudo" class="form-control" type="text" value="" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Créer la partie" class="btn btn-primary" />
    </div>
</form>

<form asp-action="JoinGame">
    <h3>Rejoindre une partie</h3>
    <div class="form-group">
        <label class="control-label">Votre pseudo</label>
        <input name="pseudo" class="form-control" type="text" value="" required />
    </div>
    <div class="form-group">
        <label class="control-label">Identifiant de la partie</label>
        <input name="gameId" class="form-control" type="text" value="" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Rejoindre la partie" class="btn btn-primary" />
    </div>
</form>